name: release

on:
  release:
    types: [published]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: "8"
      - name: Deploy to Clojars
        run: lein deploy releases
        env:
          LEIN_PASSWORD: ${{ secrets.LEIN_PASSWORD }}
